<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Particular blog</h1>

    <a href="/blogs">back</a>
    <div>
        <h1>ID: <%= particularBlog._id %></h1>
        <h1>TITLE: <%= particularBlog.title %></h1>
        <h1>CONTENT:<%= particularBlog.content %></h1>
    </div>

</body>
</html>